.loader {
  margin: auto;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(93,93,93, 0.2);
  border-right: 0.3em solid rgba(93,93,93, 0.2);
  border-bottom: 0.3em solid rgba(93,93,93, 0.2);
  border-left: 0.3em solid #5d5d5d;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1s infinite linear;
  animation: load8 1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
