/*TODO: vvs p2 REFACTOR - too many custom css is added, SmartAdmin styles are not used */
body {
	background: rgb(233, 235, 238)
}

body:not(.mobile-view-activated) #mobile-profile-img {
	display: inline-block!important;
}

#left-panel {
	height: 100%;
}

.custom-icon {
	height: 14px;
	position: relative;
}

.custom-icon div {
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	border: none !important;
	height: 22px;
	background-size: cover;
	background-repeat: no-repeat;
}

#left-panel .custom-icon {
	position: absolute;
}

#left-panel nav>ul>li>a>i {
	position: absolute;
	top: 12px;
}

#left-panel nav ul span.menu-item-parent {
	padding-left: 30px;
}

.page-title .custom-icon div {
	top: -6px;
}

.comments .attachments {
	margin-left: 50px;
}

.comments .attachments .image img {
	position: static;
}

.comments .comment-description {
	display: block;
	word-break: break-word;
}

.comments .comment-form .comment-description a {
	color: #3276b1;
}

.comments .comment-form .text {
	padding-left: 0
}

.status .who{
	border: none;
	padding-bottom: 10px;
}

.status .who .name {
	display: inline-block;
}

.status .who .name>b {
	cursor: pointer;
}

.status .who .from {
	display: block;
}

.status .links {
	margin: 0 20px;
	padding: 10px 0;
	color: #a2a2a2;
	background: inherit;
}

.status .links .action-title {
	margin-left: 5px;
}

.status .links li>span {
	cursor: pointer;
}

.status .links .readed {
	color: #a2a2a2;
}

.status .links .unreaded {
	color: #2A9FD8;
}

.status .comments {
	margin-bottom: 0;
	border: none;
}

.status .comments li {
	border: none;
	padding: 0;
}

.status .comments li:nth-of-type(1) {
	padding-top: 10px;
}

.status .comments .name {
	font-weight: normal;
	opacity: 1;
}

.status .text {
	padding: 5px 20px 0 23px;
	color: gray;
}

.inner-text {
	word-wrap: break-word;
	overflow-x: auto;
}

.inner-text img {
	position: static !important;
	float: none !important;
	display: block !important;
	max-width: 200px;
	width: auto !important;
	height: auto !important;
}

.comments .comments-expander {
	display: inline-block;
	padding-top: 5px;
}

.comments .comments-control {
	height: 50px;
	padding: 10px 0;
}

.comments .comments-control button {
	padding: 3px 15px;
}

.comments .comment-form {
	width: calc(100% - 50px);
	display: inline-block;
}

textarea.form-control {
	resize: vertical;
}

.readers {
	padding: 7px 5px;
	margin: 0 15px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.translator-caller {
	margin-left: 20px;
}

.attachments {
	margin-left: 20px;
}

.attachments .files {
	margin-bottom: 10px;
}

.attachments .images {
	margin-top: 10px;
	margin-bottom: 5px;
}

.attachments .file {
	padding-bottom: 5px;
}

.attachments .file a {
	cursor: pointer;
	margin-left: 5px;
}

.attachments .file i {
	color: #a2a2a2
}

.attachments .files .file {
	display: inline-block;
	margin-right: 10px;
}

.attachments .image {
	padding: 0;
    max-width: 150px;
	overflow: hidden;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
}

.attachments .image img {
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
}

.attachments-entry-wrapper {
	display: inline;
}

.attachments-entry {
	cursor: pointer;
}

.who.readed {
	color: black;
}

.who.unreaded {
	background: hsla(0,0%,60%,.61);
}

.post-note.unreaded {
	background-color: #FFFADD;
}

.post-task.open {
	background-color: #D6E5FB;
}

.post-task.done {
	background-color: #E0F0D9;
}

.readers-list-wrapper {
	position: relative;
}

.readers-list {
	position: absolute;
	bottom: 5px;
	color: white;
	background: #282828;
	border-radius: 5px;
	z-index: 999;
}

.readers-list::after {
	position: absolute;
	left: 15px;
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #282828;
}

.readers-list ul {
	padding: 7px;
	margin: 0;
}

.task-footer, .note-footer {
	border-top: 1px solid rgba(0,0,0,.07);
	background: #f8f9f9;
}

#header .header-avatar-wrapper .sb-avatar > * {
	border: 1px solid #bfbfbf !important;
}

.header-avatar-wrapper .sb-avatar > div {
	margin-top: 5px;
	margin-left: 2px;
}

.support-info {
	margin-top: 17px;
	margin-right: 20px;
}

.support-info-xs {
	width: 200px;
	margin-left: -100px;
	margin-top: 10px;
	padding: 5px;
}

.post-avatar-wrapper {
	float: left;
	margin-right: 10px;
}

.feed {
	background: rgb(233, 235, 238);
	min-width: 550px;
	box-shadow: none;
}

.post-flag-date {
	padding-left: 5px;
	font-size: 13px;
	vertical-align: 15%
}

.clickable {
	cursor: pointer;
}

.subject {
	padding: 5px 20px 0 20px;
}

.subject i{
	font-size: 20px;
	color: #a2a2a2;
	cursor: pointer;
}

.done {
	color: grey;
}

.subject.done i{
	color: #739E73;
}

.done .text  .inner-text {
	color: lightgray;
}

.done .inner-text *{
	color: lightgrey;
}

.subject span {
	padding-left: 10px;
	font-weight: bold;
	vertical-align: top;
	word-break: break-word;
}

.task-info {
	margin: 0 20px;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,.07);
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.task-info .assignment {
	margin: 0 5px;
}

.task-info .completion {
	margin: 0 5px;
	color: #739E73;
}

.assignment-avatar-wrapper {
	position: relative;
	top: -6px;
}

.overdue {
	color: red;
}

.flag-modal .modal-dialog {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}

.no-pointer {
	cursor: auto;
}

.todo-list .print-todo {
	font-size: 16px !important;
	margin-left: 10px;
	cursor: pointer;
}

.todo-list .widget-body {
	min-height: 34px;
}

.todo-list .empty-list {
	min-height: 34px;
	line-height: 34px;
}

.todo .todo-icon {
	margin-right: 5px;
}

.todo .todo-info .todo-subject {
	color: inherit;
	cursor: pointer;
}

.todo .background-clear {
	background: none;
}

.todo .background-clear .handle,  .todo .background-clear .handle:hover{
	cursor: initial;
}

.todo .collapse-btn {
	cursor: pointer;
}

.todo-group-title .counter {
	padding-right: 7px;
}

.todo-group-title .jarviswidget-ctrls {
	margin-right: 10px;
	cursor: pointer;
}

.todo-group .collapsible-panel {
	border: 0 none;
	box-shadow: none;
}

.room-log-header .counter {
	height: 100%;
	padding: 8px 0 6px 7px;
	margin-right: 4px;
	min-height: 37px;
	line-height: normal;
	font-size: 14px;
	font-weight: 500;
	color: #333;
}

.txt-color-black {
	color: #000;
}

.flag-due-input {
	width: 147px;
	margin-left: 10px;
}

.post-private-label {
	margin-left: 10px;
}

.scrollable {
	margin-top: 10px;
	overflow: auto;
	max-height: 400px;
}

.post-form-wrapper {
	background-color: #FFFADD;
}

.post-form fieldset.form-elements-warpper {
	background-color: #FFFADD;
}

.post-form footer {
	background: none;
	border-top: none;
	padding-top: 0;
}

.post-form fieldset {
	padding-bottom: 0;
}

.post-form .post-controls .btn {
	margin-left: 10px;
}

.post-form .alert {
	margin-bottom: 0
}

.post-form .contenteditable {
	border: 1px solid #ccc;
	background-color: #FFF;
}

.contenteditable .content {
	padding: 5px;
	margin-left: 30px;
	margin-right: 30px;
}

.contenteditable .content .text {
	padding: 0;
}

.smart-form fieldset.collapse.in {
	display: block;
}
.smart-form fieldset.collapse {
	display: none;
}

.smart-form .select i {
	pointer-events: none;
}

/* tags-selector */
.tags-selector .scrollable {
	margin-top: 10px;
}

.nav-tabs > li.txt-color-red > a {
	color: inherit !important;
}

.list-tags {
	margin: 10px 0;
}

.smart-form .list-tags-group {
	display: block;
	margin: 10px;
	height: 40px;
	line-height: 40px;
	padding: 0;
}

.smart-form .list-tags-items {
	padding-top: 5px;
}

.list-tags-item {
	margin-bottom: 4px;
}

.list-tags-item .checkbox {
	padding-left: 45px;
}

.smart-form .list-tags-group .group-name {
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.smart-form .list-tags-group .group-icon {
	line-height: 40px;
}

/* users-selector */
.users-selector .list-group-item {
	margin: 0;
}

.list-users-item {
	margin-bottom: 10px !important;
}

.list-users-item label {
	padding-left: 10px;
}

.list-users-item i {
	top: 10px !important;
}

.list-users-item .text {
	margin-left: 10px;
}

.loader-wrapper {
	width: 2em;
	height: 2em;
	font-size: 2em;
	overflow: hidden;
	margin: auto;
	padding: 1px;
}

.description-wrapper {
	position: relative;
}

.description-wrapper label.textarea {
	width: 100%;
}

.description-wrapper .description-placeholder {
	position: absolute;
	left: 13px;
	top: 7px;
}

.smart-form .description-entry:focus {
	border-color: #66afe9;
}

.description-entry {
	min-height: 100px;
	max-height: 200px;
	overflow: auto !important;
	outline: none;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
	resize: vertical !important;
}

#user-settings .nav > li > a {
	padding: 9px 9px 10px;
}

#user-settings .help-block {
	margin-top: 35px;
	margin-bottom: 0px;
	padding-left: 13px;
}

#user-settings .onoffswitch {
	margin-top: 8px;
}

#user-settings .modal-footer {
	padding: 20px 0 0 20px;
}

/*TODO: vvs p2 REFACTOR convert to col-*/
.time-picker {
	width: 110px;
	margin-left: 13px;
}

@media (min-width: 480px) {
	.users-selector-modal .modal-dialog {
		width: 400px;
		margin: 10px auto;
	}
}

@media (min-width: 768px) {
	.users-selector-modal .modal-dialog {
		width: 400px;
	}
}

.department-picker {
	margin-top: -6px;
}

.department-picker-item {
	padding: 5px;
}

.department-picker-item.selected {
	border: 1px solid #000 !important;
	padding: 4px;
}

.department-picker-item .custom-icon {
	width: 30px;
	height: 30px;
}

.department-picker-item .custom-icon div {
	position: static;
	margin: 4px;
}

.convert-to-task-modal .modal-body {
	text-align: center;
}

.due-date-form .btn {
	margin-left: 5px;
}

.tableHeaderBackground {
	background: rgb(93, 93, 93) none !important;
	color: white;
}

.whiteBackground {
	background-color: white;
}

.smart-form .ce {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
	outline: 0;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 13px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-color: #BDBDBD;
	transition: border-color .3s;
	-o-transition: border-color .3s;
	-moz-transition: border-color .3s;
	-webkit-transition: border-color .3s;
	height: auto;
	resize: none;
	overflow-y: scroll;
	overflow-x: scroll;
	min-height: 80px;
	max-height: 250px;
}
.smart-form .ce:hover {
	border-color: #5D98CC
}

.attachments-preview .attachment-preview {
	width: 80px;
	height: 80px;
	border: 1px solid #CCC;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
}

.attachments-preview .attachment {
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 77px;
}

.attachments-preview .attachment img {
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
	height: auto;
	width: auto;
	position: relative;
}

.attachments-preview .attachment-actions {
	bottom: -30px;
	position: absolute;
	height: 30px;
	width: 100%;
	background: #333;
	color: #FFF;
	opacity: 0.6;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	-webkit-transition: bottom 0.2s;
	-moz-transition: bottom 0.2s;
	-o-transition: bottom 0.2s;
	transition: bottom 0.2s;
}

.attachments-preview  .attachment-preview:hover .attachment-actions {
	bottom: 0;
}

.attachments-preview .attachment-actions .remove-attachment {
	cursor: pointer;
}

.attachments-preview .attachment-preview .attachment-non-image {
	display: block;
	position: relative;
	height: 100%;
}

.attachments-preview .attachment-preview .attachment-non-image .attachment-icon {
	display: block;
	font-size: 36px;
	position: relative;
	top: 20px;
	line-height: 36px;
}

.attachments-preview .attachment-preview .attachment-non-image .attachment-name {
	display: block;
	height: 30px;
	position: relative;
	top: 25px;
	line-height: 14px;
}

.attachments-preview .attachment-preview .in-progress-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.attachments-preview .attachment-preview .progress-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	opacity: 0.5;
}

.attachments-preview .attachment-preview .progress-value {
	position: relative;
	top: 15px;
	left: 0;
	width: 50px;
	margin: auto;
	text-align: center;
	border-radius: 50px;
	height: 50px;
	background: rgba(255,255,255,0.70);
	line-height: 49px;
	color: #848484;
	font-size: 14px;
}

.attachments-preview .attachment-preview .progress-loader-wrapper {
	position: absolute;
	top: 14px;
	left: 13px;
}

@media screen {
	#printSection {
		display: none;
	}
}

@media print {
	body * {
		visibility: hidden;
	}

	html, body {
		height: auto !important;
		min-height: 0 !important;
		background: none;
	}

	body > *:not(#printSection) {
		display: none;
	}

	/* fix SmartAdmin theme */
	body:not(.menu-on-top).desktop-detected {
		min-height: 0 !important;
	}

	#printSection, #printSection * {
		visibility: visible;
		-webkit-print-color-adjust: exact;
	}

	#printSection .not-printable, #printSection .not-printable * {
		visibility: hidden !important;
	}

	#printSection .panel-collapse.collapse {
		display: block !important;
		height: auto !important;
	}

	#printSection {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	a:link:after, a:visited:after {
		content: "";
	}
}

.btn-print {
	margin-top: 15px;
}

.reports-list {
	width: 100%;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	padding: 10px 20px;
}

.reports-list .reports-list-item {
	border-bottom: 1px solid #E8E8E8;
	padding: 7px 0;
}

.reports-list .reports-list-item .criteria {
	white-space: nowrap;
}

.report {
	width: 100%;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	padding: 10px 20px;
}

.report .jarviswidget > div {
	border-width: 1px 1px 1px;
}

.report .jarviswidget .widget-body {
	padding-bottom: 0;
}

.empty-list {
	text-align: center;
}

.borderless {
	border: 0;
	box-shadow: none;
}
.transparentInput {
	border: 1px solid white;
}
.transparentInput:focus {
	outline: none;
	border: 1px solid #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}
.cell {
	width: 30px;
}
.overdue {
	color: red;
}

#left-panel nav li.active {
	background-color: #0EBCFF;
}

#logo {
	cursor: pointer;
}

.more-posts-loader-wrapper {
	font-size: 16px;
	text-align: center;
}
